body {
    font-family: sans-serif;
    text-align: center;
    background: #f0f0f0;
}
table {
    margin: auto;
    border-collapse: collapse;
    width: 60%;
    background: white;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
}
